<!DOCTYPE html>
<html lang="en">
<head>


	<meta charset="UTF-8">
	<title>{% block page_title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
	<h1 style="color:red">
		Hola
	</h1>

	<a href="{% url 'views-new-product' %}">New Products</a>

	<ul>
		{% for pr in product %}
			<li>
				<a href="{% url 'views-product-detail' pk=pr.pk %}">
					{{ pr.name }} |
				</a>
				{{ pr.description }}
				<img src="{{ pr.image.url}}" alt="">
			</li>

		{% endfor %}
	</ul>
</body>
</html>